/* 
    z-index
    -1 : 
     1 : ヘッダー , フッター , 編集バー(マイページ)
     2 : 入力フォーム(マイページ)
     3 : canvas
     4 : ハンバーガーボタン
     5 : ポップアップ(マイページ)
*/

body {
	min-width: 100vw;
    margin: 0;
    background-color: #EEB725;
    height: 100vh;
    font-family: sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

input{
    -webkit-appearance: none;
}

/* -------------------------------------------------- */
/* ヘッダー */

header {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-style: none none solid;
    border-color: #EEB706;
    border-width: 1px;
}

#logo-img {
    width: 30px;
    height: 30px;
    padding: 10px 25px;
}

#menu-button {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 5px;
}

#header-space {
    width: 100%;
    height: 50px;
}

/* -------------------------------------------------- */
/* フッター */
footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    border-style: none none solid;
    border-color: #EEB706;
    border-width: 1px;
}

#notice-container{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding: 3px 0;
    background-color: #F2E1A2;
}

.notice{
    margin: 1px 0;
    padding: 10px 0;
    font-size: 12px;
    background-color: #fff;
}

#makelist-button{
    display: none;
    padding-top: 16px;
}

#footer-text {
    padding: 16px 0;
    font-size: 12px;
    color: #EEB706;
}

/* -------------------------------------------------- */
/* ハンバーガーメニュー */
canvas {
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#menu {
    display: none;
    z-index: 4;
    position: fixed;
    top: 50px;
    right: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
}

.menu-button {
    font-size: 20px;
    color: #FFF;
    opacity: 0;
    width: 60%;
    margin: 20px auto;
    max-width: 500px;
    text-align: center;
    cursor: pointer;
}

/* -------------------------------------------------- */
/* メイン */
main {
    height: calc(100% - 107px);
}

.pages {
    min-height: 100%;
}

/* -------------------------------------------------- */
/* マイページ */

/* プロフィール */
#my-profile-container {
    background-color: #FFF;
    padding: 12px 25px 4px;
    margin-bottom: 4px;
}

#my-title-wapper {
    display: grid;
    grid-template-rows: 25px 20px;
    grid-template-columns: 45px 1fr 52px;
    grid-template-areas:
        "icon  name    prof"
        "icon  title   prof";
}

#my-icon {
    grid-area: icon;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

#my-name {
    grid-area: name;
    font-size: 20px;
    padding-left: 10px;
}

#my-title-text {
    grid-area: title;
    font-size: 16px;
    padding-left: 10px;
    height: 18px;
    display: none;
}

#my-title {
    grid-area: title;
    font-size: 16px;
    padding-left: 10px;
    height: 18px;
    border: none;
    outline: none;
}

#my-prof {
    grid-area: prof;
    width: 25px;
    height: 25px;
    justify-self: end;
}

#my-bio {
    position: relative;
}

#my-bio-text {
    font-size: 12px;
    margin: 15px 0;
    line-height: 20px;
    display: none;
}

#my-bio-textarea {
    top: 0;
    left: 0;
    margin: 10px 0;
    width: 100%;
    height: 20px;
    border: none;
    font-size: 12px;
    line-height: 20px;
    resize: none;
    outline: none;
}

/* 編集バー */
#my-sticky-container {
    z-index: 1;
    position: sticky;
    top: 50px;
    background-color: #EEB706;
}

.my-edit-wrapper {
    height: 35px;
}

#my-share-button-img {
    left: 0px;
}

.edit-button {
    margin: 4px 25px 0;
    position: absolute;
    right: 0px;
    width: 70px;
    height: 27px;
    cursor: pointer;
}

#my-edit-cancel-button-img {
    left: 0px;
    width: 45px;
}

.my-edit-mode {
    display: none;
}

.my-input-mode {
    display: none;
}

#add-list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #FFF;
    opacity:0.9;
    height: 60px;
    margin-bottom: 4px;
}

#add-list-img {
    width: 30px;
    height: 30px;
}

/* 入力フォーム */
#my-text-edit {
    z-index: 2;
    position: fixed;
    top: 50px;
    width: 100%;
    height: 100%;
    background-color: #D66805;
}

#edit-form-wrapper {
    background-color: #FFF;
    position: relative;
}

#my-text-edit-area {
    padding: 25px;
    background-color: #FFF;
    width: calc(100% - 50px);
    height: 100px;
    border: none;
    outline: none;
    font-size: 18px;
}

#my-input-submit-bar {
    display: flex;
}

#my-input-cancel {
    width: 100px;
    margin-left: 25px;
}

.my-submit-button {
    margin: 0 25px 0 auto;
}

/* リスト */

#my-list-unregistered {
    display: none;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 20px auto;
}

#done-list-container {
    margin-top: 25px; 
    padding-bottom: 50px;
}

.list-parent {
    position: relative;
}

.list-delete-button {
    color: #FFF;
    background-color: #F00;
    text-align: right;
    padding-right: 30px;
    height:60px;
    line-height:60px;
    display: none;
}

.list-wrapper {
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #FFF;
    height: 60px;
}

.list-check-box-yet, .list-check-box-done {
    padding: 15px 15px 15px 25px;
}

.list-text-box {
    font-size: 18px;
    width: 80%;
    padding: 15px 25px 15px 0;
    white-space: nowrap; /* 横幅のMAXに達しても改行しない */
    overflow: hidden; /* ハミ出した部分を隠す */
    text-overflow: ellipsis; /* 「…」と省略 */
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}

.list-sort-button {
    padding: 15px 25px 15px 15px;
    touch-action: none;
}

/* ポップアップ */
#my-popup {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    display: none;
    justify-content: center;
}

#my-popup-wrapper {
    background-color: #FFF;
    width: 80%;
    position: absolute;
    top: 100px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
}

.my-popup-item {
    font-size: 12px;
    text-align: center;
    width: 80%;
    margin: 10px auto;
    padding: 7px;
    border-radius: 5px;
}

#my-popup-message {
    font-weight: bold;
}

#my-popup-twitter {
    background-color: #00ACEE;
    color: #FFF;
}

#my-popup-copylink {
    background-color: #EFECEC;
}

/* ログインポップアップ */
#my-popup-login {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    display: none;
    justify-content: center;
}

#my-popup-login-wrapper {
    background-color: #FFF;
    width: 80%;
    position: absolute;
    top: 100px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
}

.my-popup-item {
    font-size: 12px;
    text-align: center;
    width: 80%;
    margin: 10px auto;
    padding: 7px;
    border-radius: 5px;
}

#my-popup-login-message {
    font-weight: bold;
}

#my-popup-new-login {
    background-color: #00ACEE;
    color: #FFF;
}

#my-popup-old-login {
    background-color: #EFECEC;
}

/* -------------------------------------------------- */
/* 使い方ページ */
#how-page {
    max-height: 100%;
}

#howto-head {
    padding: 20px;
    margin: 0;
    text-align: center;
    font-size: 24px;
    color: white;
}

#howto-container {
    margin: 0 auto;
    width: 90%;
}

.howto {
    margin: 0 auto 15px;
    border: white solid 4px;
    border-radius: 10px;
}

.howto-img {
    display: block;
    margin: 5px auto;
    /* height: 22vh; */
    height: 180px;
}

#how1{
    transform:translate(0,0)
}

.howto-text {
    margin: 5px auto;
    text-align: center;
    line-height: 1.5em;
    width: 80%;
    font-size: 13px;
    color: white;
}

#spacing {
    height: 56px;
}

/* -------------------------------------------------- */
/* 閲覧ページ */

/* プロフィール */
#show-profile-container {
    background-color: #FFF;
    padding: 12px 25px 4px;
}

#show-title-wapper {
    display: grid;
    grid-template-rows: 25px 20px;
    grid-template-columns: 45px 1fr 52px;
    grid-template-areas:
        "icon  name    prof"
        "icon  title   prof";
}

#show-icon {
    grid-area: icon;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

#show-name {
    grid-area: name;
    font-size: 20px;
    padding-left: 10px;
}

#show-title {
    grid-area: title;
    font-size: 16px;
    padding-left: 10px;
}

#show-prof {
    grid-area: prof;
    width: 25px;
    height: 25px;
    justify-self: end;
}

#show-bio {
    font-size: 12px;
}

#show-bio-text {
    margin: 15px 0;
    line-height: 20px;
}

#show-list-unregistered {
    display: none;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 20px auto;
}

#show-yet-list-container {
    margin-top: 25px;
}

#show-done-list-container {
    margin-top: 25px; 
    padding-bottom: 50px;
}

.show-invite-button-img {
    padding: 15px 25px 15px 15px;
}