<!-- 使い方ページ -->
<div class="pages" id="how-page">
    <h3 id="howto-head">HOW TO</h3>
    <div id="howto-container">
      <div class="howto">
          <img id="how1" class="howto-img" src="/data/howto1.svg" alt="">
          <h2 class="howto-text">自分の行きたいとこリストを作成して<br>SNSでシェアしよう</h2>
        </div>
        <div class="howto">
          <img class="howto-img" src="/data/howto2.svg" alt="">
          <h2 class="howto-text">友達のリストの行きたいボタンから<br>お誘いしよう！</h2>
        </div>
        <div class="howto">
        <img class="howto-img" src="/data/howto3.svg" alt="">
        <h2 class="howto-text">達成できたらチェックをつけよう！</h2>
      </div>
    </div>
    <div id="spacing"></div>
</div>