<!-- 閲覧ページ -->
<div class="pages" id="show-page">
    <!-- プロフィール -->
    <div id="show-profile-container">
        <div id="show-title-wapper">
            <img id="show-icon" src="/data/userIcon.svg" alt="">
            <div id="show-name"></div>
            <div id="show-title"></div>
            <img id="show-prof" src="/data/twitter.png" alt="">
        </div>
        <div id="show-bio">
            <p id="show-bio-text"></p>
        </div>
    </div>

    <!-- リスト -->
    <div id="show-list-container">
        <div id="show-list-unregistered">まだリストを追加してないよ</div>
        <div id="show-yet-list-container"></div>
        <div id="show-done-list-container"></div>
    </div>
</div>